APIKEY_PRODUCTION = SAMPLE
APISECRET_PRODUCTION = SAMPLE
WEBHOOKSECRET_PRODUCTION = SAMPLE
MASTERETHEREUMADDRESS_PRODUCTION = SAMPLE
MASTERETHEREUMPRIVATEKEY_PRODUCTION = SAMPLE
APIKEY_SANDBOX = SAMPLE
APISECRET_SANDBOX = SAMPLE
WEBHOOKSECRET_SANDBOX = SAMPLE
MASTERETHEREUMADDRESS_SANDBOX = SAMPLE
MASTERETHEREUMPRIVATEKEY_SANDBOX = SAMPLE

PAYLOAD_PRODUCTION = SAMPLE
SIGNATURE_PRODUCTION = SAMPLE
PAYLOAD_SANDBOX = SAMPLE
SIGNATURE_SANDBOX = SAMPLE

TARGETADDRESS_SANDBOX = SAMPLE
TARGETADDRESS_PRODUCTION = SAMPLE